<% if user_signed_in? %>
  <% if post.favorited_by?(current_user) %>
    <p class='no-favo-star'><span>☆</span><%=link_to post.favorites.count, post_favorites_path(post.id), method: :delete, remote: true %></p>
  <% else %>
    <p class='favo-star'><span>★</span><%=link_to post.favorites.count, post_favorites_path(post.id), method: :post, remote: true %></p>
  <% end %>
<% else %>
  <p class='favo-star'><span>☆</span><%= post.favorites.count %></p>
<% end %>
